config FS_VFS
    bool "Enable VFS"
    default y

    help
      Answer Y to enable LiteOS support virtual filesystem.

config FS_VFS_BLOCK_DEVICE
    bool "Enable Block DEVICE"
    default n
    depends on FS_VFS
    help
      Answer Y to enable LiteOS support read/open/seek/write block device.

config FILE_MODE
    bool "Enable FILE MODE"
    default y
    depends on FS_VFS
    help
      Answer Y to enable LiteOS support file mode.

config ENABLE_READ_BUFFER
    bool "Enable read buffer Option"
    default n
    depends on FS_VFS
    help
      Answer Y to add enable read buffer Option.

config MAX_VNODE_SIZE
    int "Vnode max number"
    range 0 512
    default 512
    depends on FS_VFS
    help
      vnode number, range from 0 to 512.

config MAX_PATH_CACHE_SIZE
    int "PathCache max number"
    range 0 1024
    default 512
    depends on FS_VFS
    help
      pathCache number, range from 0 to 1024.
