# General ignored file types
*.o
*.a
*.so
*.swp
*.rej
*.orig

# IDE settings
.vscode
.idea
.settings
.cproject
.project

# VIM files
cscope*
tags

# Menuconfig temp files
/include/config
/include/generated
.config*

# Build temp files
/platform/board.ld
/out
