menu "Kernel"
config KERNEL_SMP
    bool "Enable Kernel SMP"
    default n
    help
      This option will enable smp support of LiteOS.

config KERNEL_SMP_CORE_NUM
    int "Muti-processing Core Numbers"
    default 2
    depends on KERNEL_SMP
    help
      This represents the number of muti-processing cores.

config KERNEL_SMP_LOCKDEP
    bool "Enable Spinlock Lockdep Check"
    default n
    depends on KERNEL_SMP
    help
      This option will enable spinlock lockdep check.

config KERNEL_SMP_TASK_SYNC
    bool "Enable Synchronized Task Operations"
    default n
    depends on KERNEL_SMP
    help
      This option will enable task synchronized operate task across cores.

config KERNEL_SMP_CALL
    bool "Enable Function call cross Multi-core"
    default n
    depends on KERNEL_SMP
    help
      This option will enable function call on multi-core.

config KERNEL_SCHED_STATISTICS
    bool "Enable Scheduler statistics"
    default n
    depends on KERNEL_SMP
    help
      This option will enable schedulder statistics.

config KERNEL_MMU
    bool "Enable MMU"
    default y
    help
      This option will enable mmu.

config KERNEL_VM
    bool "Enable VM"
    default y
    depends on KERNEL_MMU
    help
      This option will enable vmm, pmm, page fault, etc.

config KERNEL_SYSCALL
    bool "Enable Syscall"
    default y
    depends on KERNEL_VM
    help
      This option will enable syscall.

######################### config options of extended #####################
source "kernel/extended/Kconfig"

endmenu
