config PLATFORM_ROOTFS
    bool "Enable ROOTFS"
    default y
    depends on FS_JFFS || FS_FAT || DRIVERS_MTD_NAND
    help
      Answer Y to enable LiteOS support rootfs.

choice
    prompt "Storage device type"
    default STORAGE_SPINOR
    depends on PLATFORM_ROOTFS
    help
      SPI_NOR or SPI_NAND or EMMC.

config STORAGE_SPINOR
    depends on PLATFORM_ROOTFS && DRIVERS_MTD_SPI_NOR
    bool "SPI_NOR Flash"

config STORAGE_SPINAND
    depends on PLATFORM_ROOTFS && DRIVERS_MTD_NAND
    bool "SPI_NAND Flash"

config STORAGE_EMMC
    depends on PLATFORM_ROOTFS && DRIVERS_EMMC
    bool "EMMC"

endchoice

config BOOTENV_ADDR
    int "Address of boot command line (KB)"
    depends on PLATFORM_ROOTFS && (STORAGE_SPINOR || STORAGE_SPINAND || STORAGE_EMMC)
    default 512
    help
      Boot command line addr.

config BOOTENV_RAM
    bool "Read bootenv from RAM"
    default n
    depends on PLATFORM_ROOTFS
    help
      Answer Y to read bootenv from ram. Need boot copy to RAM.

config BOOTENV_RAMSIZE
    int "Size of boot environment in RAM (Byte)"
    depends on PLATFORM_ROOTFS && BOOTENV_RAM
    range 128 1024
    default 512
    help
      Boot environment in Ram space size, range from 128 to 1024 byte.
